.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: #3e497a;
  }
  
  .about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../assets/background1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #f0f0f0;
  }
  
  .about h2 {
    font-family: emoji;
    font-size: 80px;
    color: #e9d35b;
    height: 50px;
  }
  
  .about .prompt {
    width: 40%;
    font-size: 30px;
  }
  .prompt svg {
    font-size: 60px;
    margin: 5px;
    color: white;
  }

  .AboutMeLink{
    text-decoration: none;
    color: #0a0a0a;
    font-weight: bolder;
  }
  .AboutMebtn {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #e9d35b;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 25px;
  }
  
  .AboutMebtn:hover {background-color: #3e8e41}
  
  .AboutMebtn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .card{
  box-shadow: 0 4px 8px 0 rgba(9, 182, 61, 0.2);
  max-width: 80%;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  }
  
  .skills {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #0a0a0a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .skills p{
    padding: 0 20px 0 20px
  }
  
  .skills h1 {
    color: #0a0a0a;
  }
  
  .skills .list {
    list-style: none;
    width: 60%;
  }
  
  .list span {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .about h2 {
      font-size: 30px;
    }
  
    .about .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
    }
  
    .skills {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
    .skills h2 {
      font-size: 30px;
    }
  }